<div class="profil-content">
   <div class="bloc-profile">
     <div class="pseudo-content">
       <div class="pseudo">
         <span>Pseudo</span>
         <p>{{getMe()?.pseudo}}</p>
       </div>
       <button mat-raised-button>Modifier</button>
     </div>
     <mat-divider />
     <div class="email-content">
       <div class="email">
         <span>Email</span>
         <p>{{getMe()?.email}}</p>
       </div>
       <button mat-raised-button>Modifier</button>
     </div>
     <mat-divider />
     <div class="phone-content">
       <div class="phone">
         <span>Mot de passe</span>
         <p>************</p>
       </div>
       <button mat-raised-button>Modifier</button>
     </div>
     <mat-divider />
     <div class="createdBy">Membre chatter-box depuis le: {{ getMe()!.createdAt | date:"dd/MM/yyyy" }}</div>
   </div>
   <div class="picture-profile">
     @if(isLoading()) {
        <app-loader />
     } @else {
      @if(getMe()?.picture) {
        <img src="{{getMeAvatar()}}" alt="img-profil-picture" />
      } @else {
        <img src="./assets/pictures/avatar-withoutBG.png" alt="img-profil-picture" />
      }
     }
     <span class="add-picture">
       <form>
         <label for="avatar">
            <mat-icon class="icon-add-picture">photo_camera</mat-icon>
         </label>
         <input type="file"
                id="avatar"
                name="avatar"
                accept="image/png, image/jpeg"
                (change)="onFileSelect($event)"
                style="display: none"
         />
       </form>
     </span>
   </div>
</div>
