<div class="profil-content">
  <div class="bloc-profile">
    @if (!isPseudoEditing()) {
      <app-user-info
        [title]="'Pseudo'"
        [value]="getMe()!.pseudo"
        (updateView)="updatePseudo()"
        class="info-content"
      />
    } @else {
      <app-user-input
        [getMe]="getMe()"
        [key]="'Pseudo'"
        (updateView)="updatePseudo()"
        (userUpdated)="userUpdated.emit()"
        class="info-content"
      />
    }
    <mat-divider />
    @if (!isEmailEditing()) {
      <app-user-info
        [title]="'Email'"
        [value]="getMe()!.email"
        (updateView)="updateEmail()"
        class="info-content"
      />
    } @else {
      <app-user-input
        [getMe]="getMe()"
        [key]="'Email'"
        (updateView)="updateEmail()"
        (userUpdated)="userUpdated.emit()"
        class="info-content"
      />
    }
    <mat-divider />
    @if (!isPasswordEditing()) {
      <app-user-info
        [title]="'Mot de passe'"
        [value]="'************'"
        (updateView)="updatePassword()"
        class="info-content"
      />
    } @else {
      <app-user-input
        [getMe]="getMe()"
        [key]="'Password'"
        (updateView)="updatePassword()"
        class="info-content"
      />
    }
    <mat-divider />
    <div class="createdBy">
      Membre chatter-box depuis le:
      {{ getMe()!.createdAt | date: "dd/MM/yyyy" }}
      <mat-icon class="hide-on-collapse" (click)="chooseTheme()">
        palette
      </mat-icon>
    </div>
  </div>
  <div class="picture-profile">
    @if (isLoading()) {
      <app-loader />
    } @else {
      @if (getMe()?.picture) {
        <img src="{{ getMeAvatar() }}" alt="image de profil de l'utilisateur" />
      } @else {
        <img
          src="./assets/pictures/avatar-withoutBG.png"
          alt="image de profil par defaut"
        />
      }
    }
    <span class="add-picture">
      <form>
        <label for="avatar">
          <mat-icon class="icon-add-picture">photo_camera</mat-icon>
        </label>
        <input
          type="file"
          id="avatar"
          name="avatar"
          accept="image/png, image/jpeg"
          (change)="onFileSelect($event)"
          style="display: none"
        />
      </form>
    </span>
  </div>
</div>
