@use "../../../../assets/scss/colors" as colors;
@use "../../../../assets/scss/global" as global;
@use "../../../../assets/scss/fonts" as fonts;

.profil-content {
  margin: auto;
  width: 100%;
  height: 38vh;
  @include global.bloc;
  @include global.flex-center-row-center;
  @media screen and (max-width: 600px) {
    flex-direction: column;
    height: auto;
    max-height: none;
  }
  .bloc-profile {
    width: 60%;
    margin: 5%;
    height: 72%;
    max-height: 72%;
    .pseudo-content,
    .email-content,
    .password-content {
      @include global.flex-center-row-center;
      margin: auto;
      justify-content: space-between;
      width: 96%;
      height: 30%;
      .pseudo,
      .email,
      .password {
        @include global.flex-start-column;
        margin: 2px;
      }
      span {
        @include fonts.subtitle;
      }
      p {
        @include fonts.p;
        font-size: 1.1em;
        margin: 3px;
      }
      button {
        @include global.button-one;
        font-size: 0.9em;
      }
    }
    form {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 0;
      mat-form-field {
        max-height: 50%;
        font-size: 0.9em;
        background-color: transparent;
      }
      .removeUpdate {
        left: 15%;
        position: relative;
        @media screen and (max-width: 1100px) {
          left: 5%;
        }
      }
    }
    .pseudo-content {
      .pseudo {
      }
    }
    .email-content {
      .email {
      }
    }
    .password-content {
      .password {
      }
    }
    .createdBy {
      @include fonts.subtitle;
      padding: 0;
      width: 100%;
      text-align: end;
      font-style: italic;
    }
  }
  .picture-profile {
    margin: auto;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      position: relative;
      width: 15vw;
      object-fit: cover;
      @include global.profil-bloc;
    }
    .add-picture {
      position: absolute;
      right: 8%;
      align-self: end;
      padding: 15px;
      background-color: colors.$back-light-b;
      @include global.profil-bloc;
      .icon-add-picture {
        cursor: pointer;
        transform: scale(1.5);
      }
    }
  }
}
