<div class="theme-content">
  <div class="green-icon icon" (click)="changeTheme(ThemeEnum.GREEN)">

  </div>
  <div class="blue-icon icon" (click)="changeTheme(ThemeEnum.BLUE)">

  </div>
  <div class="gray-icon icon" (click)="changeTheme(ThemeEnum.GRAY)">

  </div>
  <div class="brown-icon icon" (click)="changeTheme(ThemeEnum.BROWN)">

  </div>

  <div class="purple-icon icon" (click)="changeTheme(ThemeEnum.PURPLE)">

  </div>

  <div class="icon">
    <mat-icon (click)="changeThemeMode()">invert_colors</mat-icon>
  </div>
</div>
