@use "../../../assets/scss/colors" as colors;
@use "../../../assets/scss/global" as global;

.home-content {
  width: 90%;
  margin: 5vh auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  .profil {
    height: 50%;
  }
  .message-friends {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    height: 50%;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
    .last-messages-content {
    }
    .friend-list-content {
    }
    .last-messages-content,
    .friend-list-content {
      width: 48%;
      height: 100%;
      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
  }
}
