@use "../../../assets/scss/colors" as colors;
@use "../../../assets/scss/global" as global;

.home-content {
  width: 90%;
  margin: 5vh auto;
  .message-friends {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: start;
    height: 90%;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
    .last-messages-content {
      width: 47%;
    }
    .friend-list-content {
      width: 47%;
    }
    .last-messages-content,
    .friend-list-content {
      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
  }
}
