<div class="add-friend-search-content">
  @if (isLoading()) {
    <app-loader />
  } @else {
    <div class="title-search">
      <div class="title-selection-panel">
        <h2>{{ isUserPanel() ? "Les utilisateurs" : "Vos amis" }}</h2>
        <span (click)="changePanel()">{{
            isUserPanel() ? "Vos amis" : "Les utilisateurs"
          }}</span>
      </div>
      <app-searchbar #searchBar (searchEvent)="onSearch($event)" />
    </div>
    @if (isUserPanel()) {
      <div class="add-user-search-result">
        @for (user of searchUserResult(); track user.id) {
          <app-add-user-list
            [userClicked]="user"
            [isUserPanel]="isUserPanel()"
            (onUserclick)="setUserInformation($event)"
            class="content-unit-user"
          />
        } @empty {
          <div class="negative-condition-found">
            <p>Aucun utilisateur trouvé.</p>
          </div>
        }
      </div>
    } @else {
      <div class="add-user-search-result">
        @for (friend of searchFriendResult(); track friend.friend.id) {
          <app-add-user-list
            [friendClicked]="friend"
            [isUserPanel]="isUserPanel()"
            (onUserclick)="setUserInformation($event)"
            class="content-unit-user"
          />
        } @empty {
          <div class="negative-condition-found">
            <p>Aucun utilisateur trouvé.</p>
          </div>
        }
      </div>
    }
  }
</div>
