@if (isLoading()) {
} @else {
  <span
    matSnackBarLabel
    class="general-popup popup-user-login"
    (click)="redirectToUserPage(pathRedirect)"
  >
      @if (picture) {
        <img
          class="popup-user-picture"
          src="{{ apiUrl }}/./{{ picture }}"
          alt="image de profil de l'utilisateur"
        />
      }
    <p [ngStyle]="{ color: color || 'grey' }">
      {{ message}}
    </p>
      <mat-icon
        class="close-modal"
        (click)="snackBarRef.dismissWithAction()"
        [ngStyle]="{ color: color || 'grey' }">close</mat-icon>
  </span>
}
