@use "../../../assets/scss/_colors.scss" as colors;
@use "../../../assets/scss/_global.scss" as global;

.content {
  @include global.full-size-absolute;
  z-index: 1;
  h1 {
    font-family: "Title", serif;
    transition: global.$theme-transition;
  }
}

.background-web {
  @include global.full-size-absolute;
  background-size: cover;
  background-position: center;
}
