@if (message()) {
  <div class="message-unit">
    <div class="message-unit-senderInfos">
      <p
        class="message-unit-clickable-content"
        (click)="goToUserProfil(message().sender.id)"
      >{{ message().sender.pseudo }}</p>
      @if (message().sender.picture) {
        <img
          class="message-unit-clickable-content"
          (click)="goToUserProfil(message().sender.id)"
          src="{{ apiUrl }}/./{{ message().sender.picture }}"
          alt="image de profil de l'utilisateur"
        />
      } @else {
        <img
          src="./assets/pictures/avatar-withoutBG.png"
          alt="image de profil par defaut"
        />
      }
    </div>
    <div class="message-unit-content">
      <p>{{ message().content | truncate }}</p>
    </div>
    <div class="message-unit-footer">
      <p>
        <i>{{ message().createdAt }}</i>
      </p>
      <button (click)="redirectToRoom(message().sender.id)">
        <mat-icon class="message-unit-response"> chat_bubble_outline</mat-icon>
      </button>
    </div>
  </div>
}
