<div class="message-unit">
  <div class="message-unit-senderInfos">
    <p>{{ message().senderName }}</p>
    <img src="./assets/logos/cb-logo-dark-withoutBG.png" alt="" />
  </div>
  <div class="message-unit-content">
    <p>{{ message().body | truncate }}</p>
  </div>
  <div class="message-unit-footer">
    <p>
      <i>{{ message().sentDate }}</i>
    </p>
    <button (click)="redirectToChat(message().id)">
      <mat-icon class="message-unit-response"> chat_bubble_outline</mat-icon>
    </button>
  </div>
</div>
