<div class="chat-content">
  <div class="chat-message-list">
    @for (message of messages(); track message.id) {
      <app-message-unit
        [getMe]="getMe()"
        [message]="message" />
    } @empty {
      <div class="chat-message-empty">
        <div class="chat-message-empty-text">
          <p>Commencez une discussion avec votre ami</p>
        </div>
        <span>
            <mat-icon class="chat-message-empty-icone">message</mat-icon>
        </span>
      </div>
    }
  </div>
</div>
