@use "../../../../assets/scss/colors" as colors;
@use "../../../../assets/scss/global" as global;
@use "../../../../assets/scss/fonts" as fonts;

.last-messages-content {
  //margin: 5% auto auto;
  width: 100%;
  height: 100%;
  .last-messages {
    @include global.flex-around-column;
    @include global.bloc;
    height: 100%;
    h3 {
      letter-spacing: 3px;
      @include fonts.h3-title;
      top: 0;
      cursor: default;
    }
    .positive-condition-last-message {
      height: 75%;
      width: 90%;
      margin: auto;
      .messages {
        width: 100%;
        height: 94%;
        margin: auto;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
      }
    }
    .negative-condition-last-message {
      @include global.flex-around-column;
      height: 50%;
      p {
        @include fonts.p;
      }
      .button-one {
        @include global.button-one;
      }
    }
  }
}
