@use "../../../../assets/scss/colors" as colors;
@use "../../../../assets/scss/global" as global;

.last-messages-content {
  margin: 5% auto auto;
  width: 100%;
  height: 50vh;
  .last-messages {
    @include global.flex-around-column;
    @include global.bloc;
    height: 100%;
    h3 {
      letter-spacing: 3px;
      @include global.h3-title;
      top: 0;
    }
    .negative-condition-last-message {
      @include global.flex-around-column;
      height: 50%;
      p {
        @include global.p;
      }
      .button-one {
        @include global.button-one;
      }
    }
  }
}
