@use "../../../assets/scss/colors" as colors;
@use "../../../assets/scss/global" as global;

.create-room-content {
  width: 90%;
  margin: 5vh auto;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ceb2e6;
  @include global.flex-around-column;
  .picture-content {

  }
  .inputs-content {
    height: 30%;
    img {
      width: 100%;
      height: 100%;
      border-radius: 90%;
    }
  }
  .friend-list-content {
    height: 30%;
  }
}
