@if (!userSelected()) {
} @else {
  <div class="friend-profil-content"  [@openClose]="onOpenComponent() ? 'open' : 'closed'">
    <div class="friend-profil-info-picture">
      @if (userSelected().picture) {
        <img
          src="{{ apiUrl }}/./{{ userSelected().picture }}"
          alt="image de profil de l'utilisateur"
        />
      } @else {
        <img
          src="./assets/pictures/avatar-withoutBG.png"
          alt="image de profil par defaut"
        />
      }
      <div class="friend-profil-infos">
        <h3 class="friend-profil-infos-pseudo">{{ userSelected().pseudo }}</h3>
        <p class="friend-profil-infos-email">{{ userSelected().email }}</p>
        <div class="status-content">
          <mat-icon class="friend-status-icon">circle</mat-icon>
          <p class="friend-profil-infos-status">
            Online
          </p>
        </div>
      </div>
    </div>
    <div class="friend-profil-footer">
      <div class="button-list-footer">
        @switch (userSelectedFriendSituation()) {
          @case (FriendStatusInvitation.ACCEPTED) {
            <mat-icon
              (click)="shareUserselected()"
            >share</mat-icon>
            <mat-icon
              (click)="openDialog(userSelected(), friendUserRelation()!)"
            >settings</mat-icon>
            <mat-icon
              (click)="openChat(getMe().id, userSelected().id)"
            >message</mat-icon>
            <mat-icon
              class="friend-footer-setting-icon"
              (click)="deleteFriend()"
            >delete</mat-icon>
            <!--
            Trade profil
            Setting (liste amis/room en commun)
            Messagerie
            Supprimer
            -->
          }
          @case (FriendStatusInvitation.PENDINGSENDBYME) {
            <mat-icon
              (click)="shareUserselected()"
            >share</mat-icon>
            <mat-icon
              (click)="openDialog(userSelected(), friendUserRelation()!)"
            >settings</mat-icon>
            <mat-icon
              class="friend-footer-setting-icon"
              (click)="deleteFriend()"
            >delete</mat-icon>
            <!--
            Trade profil
            Setting (liste amis/room en commun)
            Supprimer
            -->
          }
          @case (FriendStatusInvitation.PENDINGRECEIVED) {
            <mat-icon
              (click)="shareUserselected()"
            >share</mat-icon>
            <mat-icon
              (click)="openDialog(userSelected(), friendUserRelation()!)"
            >settings</mat-icon>
            <mat-icon
              class="friend-footer-setting-icon"
              (click)="deleteFriend()"
            >delete</mat-icon>
            <!--
            Trade profil
           Setting (liste amis/room en commun)
           Supprimer
           -->
          }
          @case (FriendStatusInvitation.REJECTED){
            <mat-icon
              (click)="shareUserselected()"
            >share</mat-icon>
            <span>Invitation refusée</span>
            <!--
          Trade profil
          Setting (liste amis/room en commun)
           -->
          }
          @case (FriendStatusInvitation.NOTFRIEND){
            <mat-icon
              (click)="shareUserselected()"
            >share</mat-icon>
            <span>CONNAIS PAS</span>
            <!--
            Trade profil
           Setting (liste amis/room en commun)
           -->
          }
          @default{
            <span>Non amis</span>
          }
        }
        <!--RAJOUTER CLEF - MESSAGE - -->
        <!--RAJOUTER PARTAGER PROFIL -->
      <!--  @if(friendUserRelation()?.status === FriendStatusInvitation.PENDING && friendUserRelation()!.friend.id === getMe()!.id) {
          <button (click)="acceptFriend()">Accepter ! </button>
        } @else {
        }
        <mat-icon
          (click)="openDialog(userSelected(), friendUserRelation()!)"
        >settings</mat-icon
        >
        @if(!friendUserRelation()) {
          <mat-icon (click)="invitationFriend(userSelected())">person_add</mat-icon>
        }-->
      </div>
      <div class="friend-informations-footer">
        <div>
          <p>10 serveurs en commun</p>
          <p>8 amis en commun</p>
        </div>
        <p>
          {{
            isFriend()
              ? "Amis depuis le:" + (userSelected().createdAt | date: "dd/MM/yyyy")
              : "Compte créé le:" + (userSelected().createdAt | date: "dd/MM/yyyy")
          }}
        </p>
      </div>
    </div>
  </div>
}
