.friend-profil-content {
  margin: auto;
  width: 100%;
  height: 25vh;
  position: relative;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(68, 68, 68, 0.1);
  border: 2px solid rgba(68, 68, 68, 0.1);
  background: linear-gradient(110deg, rgb(237, 244, 255) 0%, white 48%, rgb(237, 244, 255) 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
@media screen and (max-width: 600px) {
  .friend-profil-content {
    display: block;
    position: relative;
  }
}
.friend-profil-content .friend-profil-info-picture {
  height: 90%;
  width: 100%;
  position: absolute;
  margin: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
}
@media screen and (max-width: 600px) {
  .friend-profil-content .friend-profil-info-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
  }
}
.friend-profil-content .friend-profil-info-picture img {
  height: 90%;
  border-radius: 50%;
}
@media screen and (max-width: 600px) {
  .friend-profil-content .friend-profil-info-picture img {
    height: 50%;
  }
}
.friend-profil-content .friend-profil-info-picture .friend-profil-infos {
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
@media screen and (max-width: 600px) {
  .friend-profil-content .friend-profil-info-picture .friend-profil-infos {
    width: 100%;
    height: 90%;
  }
}
.friend-profil-content .friend-profil-info-picture .friend-profil-infos .friend-profil-infos-pseudo {
  text-align: center;
  width: 100%;
  padding: 5px;
  color: rgb(39, 39, 39);
  font-family: "JostLight", sans-serif;
  text-align: start;
}
@media screen and (max-width: 600px) {
  .friend-profil-content .friend-profil-info-picture .friend-profil-infos .friend-profil-infos-pseudo {
    text-align: center;
    height: 90%;
  }
}
.friend-profil-content .friend-profil-info-picture .friend-profil-infos .friend-profil-infos-email {
  font-size: 0.9em;
  color: rgb(39, 39, 39);
  font-family: "JostLight", sans-serif;
  margin: 0;
}
.friend-profil-content .friend-profil-info-picture .friend-profil-infos .status-content {
  margin-top: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.friend-profil-content .friend-profil-info-picture .friend-profil-infos .status-content .friend-status-icon {
  color: rgba(0, 154, 64, 0.91);
}
.friend-profil-content .friend-profil-info-picture .friend-profil-infos .status-content .friend-profil-infos-status {
  font-size: 0.9em;
  color: rgb(39, 39, 39);
  font-family: "JostLight", sans-serif;
  margin: 0;
}
.friend-profil-content .friend-profil-footer {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.friend-profil-content .friend-profil-footer .button-list-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 80%;
  z-index: 15;
  width: 40%;
  margin: auto 5% auto auto;
}
.friend-profil-content .friend-profil-footer .button-list-footer mat-icon {
  font-size: 36px;
  color: rgb(39, 39, 39);
  padding: 30px;
  margin: 10px;
  cursor: pointer;
}
.friend-profil-content .friend-profil-footer .button-list-footer .red-icon {
  color: rgb(89, 26, 26);
}
.friend-profil-content .friend-profil-footer .button-list-footer .green-icon {
  color: rgba(26, 69, 39, 0.91);
}
@media screen and (max-width: 1350px) {
  .friend-profil-content .friend-profil-footer .button-list-footer {
    margin-right: 10%;
  }
}
.friend-profil-content .friend-profil-footer .friend-informations-footer {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-direction: column;
}
.friend-profil-content .friend-profil-footer .friend-informations-footer div p {
  font-size: 0.9em;
  color: rgb(39, 39, 39);
  font-family: "JostLight", sans-serif;
  margin: 0;
  font-style: italic;
  text-wrap: nowrap;
  text-align: end;
  padding: 3px;
}
.friend-profil-content .friend-profil-footer .friend-informations-footer p {
  font-size: 0.9em;
  color: rgb(39, 39, 39);
  font-family: "JostLight", sans-serif;
  margin: 0;
  text-wrap: nowrap;
  margin: 4px;
  align-self: end;
}
@media screen and (max-width: 600px) {
  .friend-profil-content .friend-profil-footer .friend-informations-footer p {
    width: 90%;
    text-align: end;
    font-size: 0.8em;
  }
}
.friend-profil-content .loading-profil {
  width: 100%;
  margin: auto;
}

/*# sourceMappingURL=friend-profil.component.css.map */
