<div class="friend-list-content">
  <div class="friend-infos">
    <p>0 en ligne</p>
    <p>
      {{
        friendList() ? friendList()?.length + " amis" : "Aucun amis pour l'instant"
      }}
    </p>
  </div>
  <div class="friend-list">
      <div class="friend-list-loop">
        <div class="friends">
          @for (friend of getMe().friends; track friend.id) {
            <app-friend-unit
              [friend]="friend"
              [isPanelAddFriendToRoom]="isPanelAddFriendToRoom()"
            />
          } @empty {
            <div class="negative-condition">
              <p>Vous n'avez aucuns amis pour l'instant</p>
              <button mat-raised-button class="button-one">
                Liste des utilisateurs
              </button>
            </div>
          }
        </div>
      </div>
  </div>
</div>
