@use "../../../../assets/scss/colors" as colors;
@use "../../../../assets/scss/global" as global;
@use "../../../../assets/scss/fonts" as fonts;
@use "../../../../assets/scss/theme" as theme;
@use "../../../../styles" as general;

@use "@angular/material" as mat;

@include mat.core();

.friend-list-content {
  width: 100%;
  height: 100%;
  cursor: default;
  .friend-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 98%;
    flex-direction: row;
    height: 5%;
    @include fonts.subtitle-italic;
    padding: 0;
    p {
      margin: 0;
      padding: 0;
    }
  }
  .friend-list {
    @include global.bloc;
    @include global.flex-center-column;
    height: 95%;
    .friend-list-loop {
      //background-color: mat.color(colors.$back-body, 50);
      //background-color: mat.color(theme.$dark-theme);

      //PAS MAL MAIS PAS SWITCH THEME.
      //background-color:  mat.get-theme-color($_palettes, 'primary', 50);
      //background-color:  mat.get-theme-color(theme.$light-theme, 'primary', 50);
      //background-color:  mat.get-theme-color(general.$actualTheme, 'primary', 50);

      //A CHIER
      //background-color: mat.get-color($_primary-palette, 50);

      //background-color: mat.get-color-from-palette(colors.$_palettes, 'primary', 50);

      //background-color: mat.get-theme-color(theme.$_palettes, 'primary', 50);

      //background-color : theme.$light-theme;
      background-color: var(--primary-color);

      height: 90%;
      width: 90%;
      margin: auto;
      .friends {
        width: 100%;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        .negative-condition {
          @include global.flex-around-column;
          height: 100%;
          p {
            @include fonts.p;
          }
          .button-one {
            @include global.button-modal;
          }
        }
      }
    }
  }
}
