@use "../../../../assets/scss/colors" as colors;
@use "../../../../assets/scss/global" as global;

.friend-list-content {
  margin: 5% auto auto;
  width: 100%;
  height: 50vh;
  .friend-list {
    @include global.bloc;
    @include global.flex-center-column;
    height: 100%;
    .negative-condition-friend-list {
      @include global.flex-around-column;
      height: 50%;
      p {
        @include global.p;
      }
      .button-one {
        @include global.button-one;
      }
    }
  }
}
