<div class="friend-list-content">
    <div class="last-message-content__header">
      <div class="last-message-content__header__title">
        <h3>Última mensagem</h3>
      </div>
      <div class="last-message-content__header__date">
        <p>Última mensagem</p>
      </div>
    </div>
    <div class="last-message-content__message">
      <p>Última mensagem Última mensagemÚltima mensagemÚltima mensagem Última mensagem</p>
    </div>
    <div class="last-message-content__user">
      <p>Por: Última mensagemÚltima mensagemÚltima mensagem</p>
    </div>
</div>
