@use "../../../../../assets/scss/colors" as colors;
@use "../../../../../assets/scss/global" as global;
@use "../../../../../assets/scss/fonts" as fonts;

.info-content-me {
  @include global.flex-start-column;
  margin: 2px;
}
span {
  @include fonts.subtitle;
}
p {
  @include fonts.p;
  font-size: 1.1em;
  margin: 3px;
}
.info-content-me-modify {
  @include global.button-one;
  .span {
    font-size: 0.9em;
  }
}

