@use "../../../assets/scss/colors" as colors;
@use "../../../assets/scss/global" as global;
@use "../../../assets/scss/fonts" as fonts;

.dialog-content {
  height: 100%;
  width: 100%;
  margin: auto;
  background-color: colors.$back-light-b;
  /*@media screen and (max-width: 600px) {
    width: 150px !important;
  }*/
  .dialog-remove-friend {
    margin: auto;
    width: 100%;
    height: 100%;
    @include global.flex-around-column;
    p {
      padding: 10px;
      @include fonts.p;
      color: colors.$gradient-dark-g;

    }
    .dialog-remove-friend-actions {
      margin: 5%;
      width: 100%;
      @include global.flex-center-row-around;
      .button-modal {
        @include global.button-modal;
      }
    }
  }
}

.theme-content {
  height: 80%;
  width: 80%;
  margin: auto;
  @include global.flex-center-column;
  h2 {
    @include fonts.h3-title;
    color: var(--font-light-title);
  }
  .icon {
    border-radius: 90%;
    border: none;
    height: 4rem;
    width: 4rem;
    margin: 3em;
  }
  .icon-theme-change {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 90%;
    @include global.input-bloc;
  }
  .theme-content-palette {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    .green-icon {
      background-color: #87E38F;
    }
    .blue-icon {
      background-color: #2d4562;
    }
    .brown-icon {
      background-color: #ab9670;
    }
    .purple-icon {
      background-color: #8a429b;
    }
    .gray-icon {
      background-color: #555555;
    }
  }
}
