@use "../../../../assets/scss/colors" as colors;
@use "../../../../assets/scss/global" as global;

.discussion-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  margin: auto;
  width: 100%;
  .app-chat-content {
    height: 83%;
    width: 100%;
    margin-top: 1%;
  }
  @include global.flex-around-column;
  .message-input-content {
    width: 100%;
    margin: 10px auto;
    height: 15%;
  }
}
