@use "../../../../assets/scss/colors" as colors;
@use "../../../../assets/scss/global" as global;

.discussion-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 62vh;
  @include global.flex-around-column;
  .chat-content {
    width: 100%;
    margin: auto;
    height: 80%;
  }
  .message-input-content {
    width: 100%;
    margin: 10px auto;
    height: 20%;
  }
}
