// ------- BLUES ------- //

$dark-blue: rgba(8, 27, 42, 1);
$medium-blue: rgba(104, 193, 236, 1);
$light-blue: rgba(188, 221, 230, 1);
$back-blue: rgb(0, 75, 93);

// ------- Gradient Black/White ------- //

$gradient-black: rgba(0, 0, 0, 1);
$gradient-dark-grey: rgba(64, 64, 64, 1);
$gradient-medium-grey: rgba(128, 128, 128, 1);
$gradient-light-grey: rgba(191, 191, 191, 1);
$gradient-white: rgba(255, 255, 255, 1);

// ------- Gradient Brown/Green  ------- //

$gradient-deep-brown-green: rgba(66, 56, 44, 1);
$gradient-dark-brown-green: rgba(110, 95, 83, 1);
$gradient-medium-brown-green: rgba(156, 142, 123, 1);
$gradient-light-brown-green: rgba(180, 165, 151, 1);
$gradient-beige-green: rgba(208, 199, 184, 1);

// ------- Gradient diver  ------- //
$warning: rgb(248, 65, 65);
