// ------- BLUES ------- //

$dark-b: rgb(6, 19, 30);
$back-b: rgb(0, 75, 93);
$medium-b: rgba(104, 193, 236, 1);

$gradient-dark-g: rgb(39, 39, 39);


:root {
  --error: #ff2020;
  --valid: rgb(197, 255, 175);
  --online: rgb(113, 250, 63);
}
