@use "./colors" as colors;

@mixin h3-title {
  text-align: center;
  width: 100%;
  padding: 5px;
  color: colors.$gradient-dark-g;
  font-family: "JostLight", sans-serif;
  //Add letterSpace(3px)
}

@mixin p {
  font-family: "JostRegular", sans-serif;
  font-size: 1.05em;
  color: var(--font-light-text);
}

@mixin subtitle {
  font-size: 0.9em;
  font-family: "JostLight", sans-serif;
  margin: 0;
  background-color: var();
  color: var(--font-light-subtitle);
}
@mixin subtitle-italic {
  font-size: 0.9em;
  font-family: "JostLight", sans-serif;
  margin: 0;
  font-style: italic;
  color: var(--font-light-legend);
}

@mixin button {
  color: var(--font-light-text);
}
