@use "./colors" as colors;

$theme-transition: color 0.5s ease;
$radius-background: 16px;

// Mixin

@mixin full-size-absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-center-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@mixin flex-center-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@mixin flex-start-row-center {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: row;
}
@mixin flex-center-row-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
@mixin flex-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@mixin flex-around-column {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
@mixin flex-around-column-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
@mixin flex-between-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
@mixin flex-center-column-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@mixin flex-start-column {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

//Blocks
@mixin bloc {
  border-radius: $radius-background;
  box-shadow: 0 0 10px rgba(68, 68, 68, 0.1);
  border: 2px solid rgba(68, 68, 68, 0.1);
  background: linear-gradient(
    110deg,
    colors.$back-light-b 0%,
    white 48%,
    colors.$back-light-b 100%
  );
}
@mixin screenBloc {
  width: 90%;
  margin: 5vh auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@mixin profil-bloc {
  border-radius: 90%;
  @include shadow-bloc;
}
//Buttons

@mixin button-one {
  // Add mat-raised-button
  background-color: colors.$back-body;
  color: colors.$dark-b;
  font-size: 1.05rem;
  height: 3rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
  padding-bottom: 1px;
}

@mixin button-two {
}

@mixin sidebar-buttons {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: colors.$back-light-b;
  transition: background-color 0.3s ease, margin 0.3s ease;
  &:hover {
    font-weight: 600;
    transition: background-color 0.3s ease, margin 0.3s ease, 0.3s font-weight ease-in;

  }
}

//Box shadows
@mixin shadow-bloc {
  box-shadow: 0px 0px 10px 0px rgba(156, 156, 156, 0.75);
}

@mixin input-bloc {
  box-shadow: 0px 0px 4px 0px rgba(156, 156, 156, 0.75);
}
@mixin input-warning {
  box-shadow: 0px 0px 4px 0px rgba(232, 0, 0, 0.75);
}


//Sidebar

@mixin sidebar-hidden-p {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease 0.3s, width 0.3s ease 0.3s, height 0.3s ease 0.3s;
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
}
@mixin sidebar-show-p {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease 0.3s, width 0.3s ease 0.3s, height 0.3s ease 0.3s;
  margin: 0;
  padding: 0;
}
