@use 'sass:map';
@use "@angular/material" as mat;

@include mat.core();

$_palettes: (
  green-light: (
    0: #2A3E2C,
    10: #4A5D48,
    20: #6B7C65,
    25: #87E38F,
    30: #A3D9B2,
    35: #B0E1B8,
    40: #BDE9BF,
    50: #C9F0C6,
    60: #D6F7CD,
    70: #E3FDD4,
    80: #F0FFE0,
    90: #F7FFF0,
    95: #F9FFF2,
    98: #FBFFF5,
    99: #FDFFFB,
    100: #FFFFFF,
  ),
  green-dark: (
    0: #FFFFFF,
    10: #FDFFFB,
    20: #FBFFF5,
    25: #F9FFF2,
    30: #F7FFF0,
    35: #F0FFE0,
    40: #E3FDD4,
    50: #D6F7CD,
    60: #C9F0C6,
    70: #BDE9BF,
    80: #B0E1B8,
    90: #A3D9B2,
    95: #87E38F,
    98: #6B7C65,
    99: #4A5D48,
    100: #2A3E2C,
  ),

  blue-light: (
    0: #06131e,
    10: #0c1928,
    20: #112132,
    25: #17283b,
    30: #1c3045,
    35: #22364f,
    40: #273d58,
    50: #2d4562,
    60: #334c6b,
    70: #395376,
    80: #3e5a80,
    90: #446289,
    95: #cadde8,
    98: #e1eff9,
    99: #eaf3fc,
    100: #edf4ff,
  ),
  blue-dark: (
    0: #edf4ff,
    10: #eaf3fc,
    20: #e1eff9,
    25: #cadde8,
    30: #446289,
    35: #3e5a80,
    40: #395376,
    50: #334c6b,
    60: #2d4562,
    70: #273d58,
    80: #22364f,
    90: #1c3045,
    95: #17283b,
    98: #112132,
    99: #0c1928,
    100: #06131e,
  ),

  brown-light: (
    0: #3D2F25,
    10: #594937,
    20: #75624a,
    25: #907c5c,
    30: #ab9670,
    35: #c6b183,
    40: #e1cb97,
    50: #e7d8ac,
    60: #edd5c1,
    70: #f3e2d6,
    80: #f8f0e8,
    90: #fcf7f1,
    95: #fefaf5,
    98: #fffdfa,
    99: #fffefc,
    100: #ffffff,
  ),
  brown-dark: (
    0: #ffffff,
    10: #fffefc,
    20: #fffdfa,
    25: #fefaf5,
    30: #fcf7f1,
    35: #f8f0e8,
    40: #f3e2d6,
    50: #edd5c1,
    60: #e7d8ac,
    70: #e1cb97,
    80: #c6b183,
    90: #ab9670,
    95: #907c5c,
    98: #75624a,
    99: #594937,
    100: #3D2F25
  ),

  gray-light: (
    0: #0a0a0a,
    10: #151515,
    20: #202020,
    25: #2a2a2a,
    30: #353535,
    35: #404040,
    40: #4a4a4a,
    50: #555555,
    60: #606060,
    70: #6b6b6b,
    80: #767676,
    90: #818181,
    95: #d1d1d1,
    98: #eaeaea,
    99: #f5f5f5,
    100: #ffffff
  ),
  gray-dark: (
    0: #ffffff,
    10: #f5f5f5,
    20: #eaeaea,
    25: #d1d1d1,
    30: #818181,
    35: #767676,
    40: #6b6b6b,
    50: #606060,
    60: #555555,
    70: #4a4a4a,
    80: #404040,
    90: #353535,
    95: #2a2a2a,
    98: #202020,
    99: #151515,
    100: #0a0a0a
  ),

  purple-light: (
    0: #1a0826,
    10: #30113e,
    20: #472056,
    25: #5d2a6d,
    30: #733684,
    35: #8a429b,
    40: #a14db1,
    50: #b85dc6,
    60: #cf6edb,
    70: #e681f0,
    80: #f7a5ff,
    90: #fbc4ff,
    95: #fde0ff,
    98: #feeaff,
    99: #fff0ff,
    100: #ffffff,
  ),
  purple-dark: (
    0: #ffffff,
    10: #fff0ff,
    20: #feeaff,
    25: #fde0ff,
    30: #fbc4ff,
    35: #f7a5ff,
    40: #e681f0,
    50: #cf6edb,
    60: #b85dc6,
    70: #a14db1,
    80: #8a429b,
    90: #733684,
    95: #5d2a6d,
    98: #472056,
    99: #30113e,
    100: #1a0826,
  ),

  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);


/// ---------------------------- BLUE ---------------------------- ///

$_rest-blue: (
  secondary: map.get($_palettes, blue-dark),
  neutral: map.get($_palettes, blue-light),
  neutral-variant: map.get($_palettes,  blue-dark),
  error: map.get($_palettes, error),
);

$_blue-primary: map.merge(map.get($_palettes, blue-light), $_rest-blue);
$_blue-tertiary: map.merge(map.get($_palettes, blue-dark), $_rest-blue);

$blue-dark: mat.define-theme((
  color: (
    theme-type: light,
    primary: $_blue-primary,
    tertiary: $_blue-tertiary,
  ),
));
$blue-light: mat.define-theme((
  color: (
    theme-type: dark,
    primary: $_blue-tertiary,
    tertiary: $_blue-primary,
  ),
));
/// ---------------------------- GREEN ---------------------------- ///

$_rest-green: (
  secondary: map.get($_palettes, green-dark),
  neutral: map.get($_palettes, green-light),
  neutral-variant: map.get($_palettes,  green-dark),
  error: map.get($_palettes, error),
);

$_green-primary: map.merge(map.get($_palettes, green-light), $_rest-green);
$_green-tertiary: map.merge(map.get($_palettes, green-dark), $_rest-green);

$green-dark: mat.define-theme((
  color: (
    theme-type: light,
    primary: $_green-primary,
    tertiary: $_green-tertiary,
  ),
));
$green-light: mat.define-theme((
  color: (
    theme-type: dark,
    primary: $_green-primary,
    tertiary: $_green-tertiary,
  ),
));
/// ---------------------------- BROWN ---------------------------- ///

$_rest-brown: (
  secondary: map.get($_palettes, brown-dark),
  neutral: map.get($_palettes, brown-light),
  neutral-variant: map.get($_palettes,  brown-dark),
  error: map.get($_palettes, error),
);

$_brown-primary: map.merge(map.get($_palettes, brown-light), $_rest-brown);
$_brown-tertiary: map.merge(map.get($_palettes, brown-dark), $_rest-brown);

$brown-light: mat.define-theme((
  color: (
    theme-type: light,
    primary: $_brown-primary,
    tertiary: $_brown-tertiary,
  ),
));
$brown-dark: mat.define-theme((
  color: (
    theme-type: dark,
    primary: $_brown-primary,
    tertiary: $_brown-tertiary,
  ),
));
/// ---------------------------- PURPLE ---------------------------- ///

$_rest-purple: (
  secondary: map.get($_palettes, purple-dark),
  neutral: map.get($_palettes, purple-light),
  neutral-variant: map.get($_palettes,  purple-dark),
  error: map.get($_palettes, error),
);

$_purple-primary: map.merge(map.get($_palettes, purple-light), $_rest-purple);
$_purple-tertiary: map.merge(map.get($_palettes, purple-dark), $_rest-purple);

$purple-light: mat.define-theme((
  color: (
    theme-type: light,
    primary: $_purple-primary,
    tertiary: $_purple-tertiary,
  ),
));
$purple-dark: mat.define-theme((
  color: (
    theme-type: dark,
    primary: $_purple-primary,
    tertiary: $_purple-tertiary,
  ),
));
/// ---------------------------- GRAY ---------------------------- ///

$_rest-gray: (
  secondary: map.get($_palettes, gray-dark),
  neutral: map.get($_palettes, gray-light),
  neutral-variant: map.get($_palettes, gray-dark),
  error: map.get($_palettes, error),
);

$_gray-primary: map.merge(map.get($_palettes, gray-light), $_rest-gray);
$_gray-tertiary: map.merge(map.get($_palettes, gray-dark), $_rest-gray);

$gray-light: mat.define-theme((
  color: (
    theme-type: light,
    primary: $_gray-primary,
    tertiary: $_gray-tertiary,
  ),
));
$gray-dark: mat.define-theme((
  color: (
    theme-type: dark,
    primary: $_gray-primary,
    tertiary: $_gray-tertiary,
  ),
));
