@use "../../../../../assets/scss/colors" as colors;
@use "../../../../../assets/scss/global" as global;
@use "../../../../../assets/scss/fonts" as fonts;

form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0;
  .input-content {
    height: 100%;
    input {
      height: 30px;
      margin: auto;
      border: none;
      background-color: colors.$back-light-b;
      border-radius: 4px;
      @include global.input-bloc;
    }
  }

  span {
    left: 15%;
    position: relative;
    cursor: pointer;
    transition: font-size 0.3s;
    &:hover {
      font-size: 1.05em;
      transition: font-size 0.3s;
    }
    @media screen and (max-width: 1100px) {
      left: 5%;
    }
  }
  button {
    @include global.button-one;
    font-size: 0.9em;
  }

}
