@use "../../../../../assets/scss/colors" as colors;
@use "../../../../../assets/scss/global" as global;
@use "../../../../../assets/scss/fonts" as fonts;

form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0;
  height: 100%;
  .input-content {
    height: 50%;
    input {
      height: 100%;
      margin: auto;
      background-color: colors.$back-body;
      border-radius: 4px;
      border: 1px solid #e1e1e1;
      padding: 2px;
      @include fonts.p;
      width: 18vw;
      &:focus {
        outline: none;
      }
      &:hover {
        border: 1px solid #b1b1b1;
      }
    }
  }

  span {
    left: 15%;
    position: relative;
    cursor: pointer;
    transition: font-size 0.3s;
    &:hover {
      font-size: 1.05em;
      transition: font-size 0.3s;
    }
    @media screen and (max-width: 1100px) {
      left: 5%;
    }
  }
  button {
    @include global.button-one;
    font-size: 0.9em;
  }

}
