@use "../../../assets/scss/colors" as colors;
@use "../../../assets/scss/global" as global;
@use "../../../assets/scss/fonts" as fonts;

h3 {
  text-align: center;
}
.content-list{
  height: 85%;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  &.expanded {
    width: 15em !important;
  }
  &.collapsed {
    width: 5em !important;
  }
}
.negative-condition-room {
  height: 80%;
  width: 100%;
  margin: auto auto auto 8px;
  @include global.flex-center-column-center;
  p {
    width: 80%;
    text-align: center;
  }
  button {
    @include global.flex-center;
    @include global.sidebar-buttons;
    @include fonts.subtitle;
    padding: 8px;
  }
  .icon-add-room {
    mat-icon {
      padding: 10px;
      background-color: colors.$light-b;
      border-radius: 90%;
      margin: auto;
    }
  }
}
