@use "../../../assets/scss/colors" as colors;
@use "../../../assets/scss/global" as global;

mat-sidenav {
  display: flex;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: colors.$back-blue;
  transition: width 0.3s ease;
  opacity: 0.2;
  position: fixed;
  //position: absolute;

  &.expanded {
    width: 15em !important;
    @media screen and (max-width: 600px) {
      width: 100vw !important;
    }
  }
  &.collapsed {
    width: 5em !important; //5
  }
}
