<mat-sidenav opened [ngClass]="isExpanded() ? 'expanded' : 'collapsed'">
  <div class="logo-title-content" (click)="goHome()">
    <img class="logo-chatter-box" src="./assets/logos/cb-logo-dark-withoutBG.png" alt="logo chatter box">
    <span>{{ isExpanded() ? "Chatter-Box" : "Chatter-Box" }}</span>
  </div>

  <div class="count-buttons-actions">
    <app-buttons-sidenav [isExpanded]="isExpanded()" />
  </div>
  <mat-divider />
  <div class="contact-content">
    <app-contact-sidenav
    [isExpanded]="isExpanded()"
    [getMe]="getMe()"/>
  </div>
  <mat-divider />
  <div class="room-content">
    <app-room-sidenav
      [getMe]="getMe()"
      [isExpanded]="isExpanded()"
    />
  </div>
  <mat-divider />
  <div class="icons-actions-content">

   <app-icons-sidenav
     [getMe]="getMe()"
     [isExpanded]="isExpanded()"
     (removeGetMe)="removeGetChildMe()"
     (changeSidenavMode)="changeSidenavMode()"
    />

  </div>
</mat-sidenav>
<!-- <button mat-flat-button (click)="logout()">Logout</button>
 <button mat-flat-button (click)="goHome()">Accueil</button>
 <button mat-flat-button (click)="goCreateRoom()">Créer salon</button>
 <button mat-flat-button (click)="goDiscussion(1)">Discussion</button>
 <button mat-flat-button (click)="goGroup(1)">Group</button>
 <button mat-flat-button (click)="goAddFriend()">Add friend</button>
 -->
