@if(isLoading()) {
  <app-loader/>
}
@else {
  <div class="add-friend-content">
    <app-friend-profil
      (panelOpening)="panelOpening($event)"
      [@openCloseFriendProfil]="isExpandedFriendProfil ? 'open' : 'closed'"
      [getMe]="getMe()!"
      (refreshGetMeEvent)="refreshGetMeEvent()"
      [userSelected]="profilSelected()!"
      [isProfilSelected]="false"

    />
    <app-add-friend-search
      [@openCloseFriendSearch]="isExpandedFriend ? 'open' : 'closed'"
      [getMe]="getMe()!"
      (onUserclick)="onUserclick($event)"
    />
  </div>

}
