@use "../../../assets/scss/colors" as colors;
@use "../../../assets/scss/global" as global;

.add-friend-content {
  @include global.screenBloc;
}
.profile-active {
  height: 25vh;
}

.profile-inactive {
  height: 0;
  overflow: hidden;
}

.search-expanded {
  height: 85vh;
}

.search-collapsed {
  height: 64vh;
}
