@use "../../../../assets/scss/colors" as colors;
@use "../../../../assets/scss/global" as global;
@use "../../../../assets/scss/fonts" as fonts;

.section-detail-unit-content {
  height: 50px;
  margin: 18px;
  display: flex;
  flex-direction: row;
  .picture-detail {
    width: 50px;
    height: 50px;
    border-radius: 90%;
  }
  &.expanded {
    p {
      @include global.sidebar-show-p;
      @include fonts.p;
      margin: auto;
      text-align: center;
    }
  }
  /////////
  &.collapsed {
    p {
      @include global.sidebar-hidden-p;
    }

  }
}

