@if(!detailUser()){
} @else {
<div class="section-detail-unit-content"
     [ngClass]="isExpanded() ? 'expanded' : 'collapsed'"
     (click)="goToUserConversation(detailUser()!.id)"
>
  @if (detailUser()?.picture) {
    <img
      class="picture-detail"
      src="{{ apiUrl }}/./{{ detailUser()?.picture }}"
      alt="image de profil de l'utilisateur"
    />
  } @else  {
    <img
      src="./assets/pictures/avatar-withoutBG.png"
      alt="image de profil par defaut"
    />
  }
  @if(isExpanded()) {
    <p>{{detailUser()?.pseudo}}</p>
    <div class="user-status">

    </div>
  }

</div>
}
