@if (friend()) {
  <div class="friend-unit">
    <div class="friend-picture-infos">
      <div class="friend-picture">
        @if (friend()?.picture) {
          <img
            src="{{ apiUrl }}/./{{ friend()?.picture }}"
            alt="image de profil de l'utilisateur"
          />
        } @else {
          <img
            src="./assets/pictures/avatar-withoutBG.png"
            alt="image de profil par defaut"
          />
        }
      </div>
      <div class="friend-infos">
        <p class="friend-pseudo">{{ friend()?.pseudo }}</p>
        <div class="friend-status">
          <mat-icon class="friend-status-icon">circle</mat-icon>
          <p>Online</p>
        </div>
      </div>
    </div>
    <div class="friend-actions">
      <mat-icon (click)="openDialog( friend()!, 'settings')" class="friend-action-icon">settings</mat-icon>
      @if (isPanelAddFriendToRoom()) {
        @if (isAdded()) {
          <mat-icon (click)="removeFriend(friend()!)" class="friend-action-icon"
            >remove</mat-icon>
        } @else {
          <mat-icon (click)="addFriend(friend()!)" class="friend-action-icon"
            >add</mat-icon
          >
        }
      }
      <mat-icon (click)="goToUserConversation(friend()!.id)" class="friend-action-icon"
        >chat</mat-icon
      >
    </div>
  </div>
  <mat-divider />
}
