@use "../../../../../assets/scss/colors" as colors;
@use "../../../../../assets/scss/global" as global;
@use "../../../../../assets/scss/fonts" as fonts;

.friend-unit {
  width: 95%;
  margin: 0;
  @include global.flex-center-row-between;
  .friend-picture-infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    .friend-picture {
      padding: 10px;
      img {
        width: 70px;
        height: 70px;
        border-radius: 90%;
      }
    }
    .friend-infos {
      height: 100%;
      margin-left: 5%;
      @include global.flex-center-column;
      margin-bottom: 5%;
      .friend-pseudo {
        @include fonts.p;
        margin-bottom: 10%;
      }
      .friend-status {
        display: flex;
        flex-direction: row;
        align-items: center;
        p {
          @include fonts.subtitle;
          margin-left: 4px;
        }
        .friend-status-icon {
          width: 80%;
          color: colors.$online;
        }
      }
    }
  }

  .friend-actions {
    .friend-action-icon {
      padding: 10px;
      margin: 5px;
      //background-color: red;
      color: colors.$back-b;
      border-radius: 90%;
      @include global.input-bloc;

    }
  }
}
.white-icon {
  color: white;
}
.white-icon svg {
  fill: white;
}
