@use "../../../../../assets/scss/colors" as colors;
@use "../../../../../assets/scss/global" as global;

.message-content {
  @include global.bloc;
  width: 100%;
  height: 100%;
  margin: auto;
  .message {
    width: 100%;
    height: 100%;
    margin: auto;
    form {
      width: 100%;
      height: 100%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      textarea {
        width: 96%;
        height: 95%;
        resize: none;
        overflow: auto;
        border: none;
        background-color: transparent;
      }
      button {
        border: none;
        background-color: transparent;
        width: 10%;
        .send-form {
          color: colors.$dark-b;
          height: 100%;
        }
      }
    }
  }
}
