@if (friend()) {
  <div class="private-room-content">
    <app-friend-profil
      (panelOpening)="panelOpening($event)"
      [@openCloseFriendProfil]="isExpandedFriendProfil ? 'open' : 'closed'"
      [getMe]="getMe()!"
      [userSelected]="friend()!"
      [isProfilSelected]="true"
    />
    <app-discussion
      [@openCloseFriend]="isExpandedDiscussion ? 'open' : 'closed'"
      [getMe]="getMe()!"
      [room]="room()!"
      [scrollToBottom]="scrollToBottom()"
      [friendInDiscussion]="friend()!"
      [messages]="messages()" />
  </div>
}
