@if(isUserPanel()) {
  <div class="add-user-list-unit" (click)="onUserclick.emit(userClicked())">
    <div class="picture-pseudo">
      @if (userClicked()!.picture) {
        <img
          src="{{ apiUrl }}/./{{ userClicked()!.picture }}"
          alt="image de profil de l'utilisateur"
        />
      } @else {
        <img
          src="./assets/pictures/avatar-withoutBG.png"
          alt="image de profil par defaut"
        />
      }
      <p>{{ userClicked()!.pseudo }}</p>
    </div>
    <div class="bloc-information">
      <p>10 serveurs en commun</p>
      <p>8 amis en commun</p>
    </div>
    <span class="created-or-friend-since">
      <i>
        Compte créé le {{(userClicked()!.createdAt | date: "dd/MM/yyyy")}}
      </i>
  </span>
  </div>
}

@if(friendClicked()) {
  <div class="add-user-list-unit" (click)="onUserclick.emit(friendClicked()?.friendRelation)">
    <div class="picture-pseudo">
      @if (friendClicked()!.friendRelation.picture) {
        <img
          src="{{ apiUrl }}/./{{ friendClicked()!.friendRelation.picture }}"
          alt="image de profil de l'utilisateur"
        />
      } @else {
        <img
          src="./assets/pictures/avatar-withoutBG.png"
          alt="image de profil par defaut"
        />
      }
      <p>{{ friendClicked()!.friendRelation.pseudo }}</p>
    </div>
    <div class="bloc-information">
      <p>10 serveurs en commun</p>
      <p>8 amis en commun</p>
    </div>
    <span class="created-or-friend-since">
    <i>
      @if(friendClicked()?.status === FriendStatusInvitation.PENDING) {
        En attente de confirmation
      }
      @if(friendClicked()?.status === FriendStatusInvitation.ACCEPTED) {
        Amis depuis le {{(friendClicked()!.createdAt | date: "dd/MM/yyyy")}}
      }
      @if(friendClicked()?.status === FriendStatusInvitation.REJECTED) {
        Invitation refusée
      }
    </i>
  </span>
  </div>
}
