@if(isUserPanel()) {
  <div class="add-user-list-unit" (click)="onUserclick.emit(user())">
    <div class="picture-pseudo">
      @if (user()!.picture) {
        <img
          src="{{ apiUrl }}/./{{ user()!.picture }}"
          alt="image de profil de l'utilisateur"
        />
      } @else {
        <img
          src="./assets/pictures/avatar-withoutBG.png"
          alt="image de profil par defaut"
        />
      }
      <p>{{ user()!.pseudo }}</p>
    </div>
    <div class="bloc-information">
      <p>10 serveurs en commun</p>
      <p>8 amis en commun</p>
    </div>
    <span class="created-or-friend-since">
    <i>Compte créé le {{(user()!.createdAt | date: "dd/MM/yyyy")}}
      <!--user().friendSince | date: "dd/MM/yyyy"    ......     ("Amis depuis le:" + '' | date: "dd/MM/yyyy")-->
    </i>
  </span>
  </div>
}

@if(friendRelation()) {
  <div class="add-user-list-unit" (click)="onUserclick.emit(user())">
    <div class="picture-pseudo">
      @if (friendRelation()!.friend.picture) {
        <img
          src="{{ apiUrl }}/./{{ friendRelation()!.friend.picture }}"
          alt="image de profil de l'utilisateur"
        />
      } @else {
        <img
          src="./assets/pictures/avatar-withoutBG.png"
          alt="image de profil par defaut"
        />
      }
      <p>{{ friendRelation()!.friend.pseudo }}</p>
    </div>
    <div class="bloc-information">
      <p>10 serveurs en commun</p>
      <p>8 amis en commun</p>
    </div>
    <span class="created-or-friend-since">
    <i>
          Amis depuis le {{ friendRelation()!.createdAt | date: "dd/MM/yyyy" }}
    </i>
  </span>
  </div>
}
