@use "../../node_modules/@angular/material" as mat;
@use "./assets/scss/colors" as colors;
@use "./assets/scss/global" as global;
@include mat.core();

$chatter-front-primary: mat.define-palette(mat.$indigo-palette);
$chatter-front-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$chatter-front-warn: mat.define-palette(mat.$red-palette);

$chatter-front-theme: mat.define-light-theme(
  (
    color: (
      primary: $chatter-front-primary,
      accent: $chatter-front-accent,
      warn: $chatter-front-warn,
    ),
  )
);

@include mat.all-component-themes($chatter-front-theme);

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: colors.$back-body;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "JostRegular", serif;
}
button {
  font-family: "Button", serif;
}

// --------- FONTS --------- //

@font-face {
  font-family: "Title";
  src: url("/assets/fonts/Italiana-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JostLight";
  src: url("/assets/fonts/Jost-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JostRegular";
  src: url("/assets/fonts/Jost-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Button";
  src: url("/assets/fonts/Metrophobic-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

// !!!!!!!!!!! TRADE THEME !!!!!!!!!!! //
//    transition: global.$theme-transition;

// --------- LIGHT THEME --------- //
h1 {
  color: colors.$dark-b;
}

// --------- DARK THEME --------- //
/*
.theme-dark h1 {
  color: rgba(66, 56, 44, 1);
}
*/

// --------- GLOBAL COMPONENT --------- //
.buttonLogin {
  background-color: colors.$dark-b;
  color: colors.$light-b;
  font-size: 1.2rem;
  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  padding-bottom: 3px;
  &:hover {
    background-color: transparent;
    color: colors.$dark-b;
    transform: scale(1.1);
  }
}
