@use "./assets/scss/colors" as colors;
@use "./assets/scss/global" as global;
@use "./assets/scss/theme" as theme;
@use "@angular/material" as mat;

@include mat.core();

mat.$theme-ignore-duplication-warnings: true;

//  BLUE AND DEFAULT ///
:root, .blue-light {
  @include mat.all-component-themes(theme.$blue-light-theme);
  @include mat.core-theme(theme.$blue-light-theme);

  --primary-color: #{mat.get-theme-color(theme.$blue-light-theme, 'error', 10)};
  //--secondary-color: mat.get-theme-color(theme.$blue-dark-theme, 'primary', 10);
}

.blue-dark {
  @include mat.all-component-themes(theme.$blue-dark-theme);
  @include mat.core-theme(theme.$blue-dark-theme);

  //--primary-color: green;
  //--primary-color: mat.get-theme-color(theme.$blue-dark-theme, 'primary', 10);
  //--secondary-color: mat.get-theme-color(theme.$blue-light-theme, 'tertiary', 10);

  --primary-color: mat.get-theme-color(theme.$blue-dark-theme, 'primary');
  --secondary-color: mat.get-theme-color(theme.$blue-light-theme, 'tertiary');
}

//  GREEN ///
.green-light {
  @include mat.all-component-themes(theme.$green-light-theme);
  @include mat.core-theme(theme.$green-light-theme);

  --primary-color: mat.get-theme-color(theme.$green-light-theme, 'primary', 10);
  --secondary-color: mat.get-theme-color(theme.$green-dark-theme, 'tertiary', 10);;
}

.green-dark {
  @include mat.all-component-themes(theme.$green-dark-theme);
  @include mat.core-theme(theme.$green-dark-theme);

  --primary-color: mat.get-theme-color(theme.$green-dark-theme, 'primary', 10);
  --secondary-color: mat.get-theme-color(theme.$green-light-theme, 'tertiary', 10);;
}

/*

$actualTheme: theme.$blue-light-theme;

@mixin apply-theme($theme) {
  @include mat.all-component-themes($theme);
}

.light-theme {
  @include apply-theme(theme.$blue-light-theme);
}

.dark-theme {
  @include apply-theme(theme.$blue-dark-theme);
}
*/








html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: colors.$back-body;
  font-family: "JostRegular", serif;
}
button {
  font-family: "Button", serif;
}

// --------- FONTS --------- //

@font-face {
  font-family: "Title";
  src: url("/assets/fonts/Italiana-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JostLight";
  src: url("/assets/fonts/Jost-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JostRegular";
  src: url("/assets/fonts/Jost-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Button";
  src: url("/assets/fonts/Metrophobic-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

// --------- LIGHT THEME --------- //
h1 {
  color: colors.$dark-b;
}

// --------- GLOBAL COMPONENT --------- //
.buttonLogin {
  background-color: colors.$dark-b;
  color: colors.$light-b;
  font-size: 1.2rem;
  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  padding-bottom: 3px;
  &:hover {
    background-color: transparent;
    color: colors.$dark-b;
    transform: scale(1.1);
  }
}

// --------- SCROLLBAR --------- //
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(170, 170, 170, 0.47);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: colors.$back-b;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: colors.$dark-b;
}

// --------- BACKGROUND MODAL --------- //
.cdk-overlay-backdrop {
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.2);
}

